.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-content{
  display:flex;
  align-items: center;
  justify-content: start;
  flex-wrap:wrap;
}
.img-1{
  position:absolute;
  top:80px;
  left:0;
  width:170px;
}
.img-2{
  position:absolute;
  top:0;
  right:0;
  width:170px;
  z-index:5;
}
@media  screen and (max-width:768px) {
  .img-1,.img-2{
    display: none;
  }
}